:root {
  --very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);
  --dark-slate-gray: #3E3E3E;
  --some-gray-shade: #585858;
  --main-background: hsl(0, 100%, 100%);
  /* font style and weights */
  --font: 'Kumbh Sans', sans-serif;
  --font-weight-medium: 400;
  --font-weight-bold: 700;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar{
  display: none;
}

body {
  font-family: var(--font);
  background-image: linear-gradient(var(--soft-violet),var(--soft-blue));
  background-size: cover;
  padding: 10rem 0;
  min-height: 100vh;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  width: 18rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  background-color: var(--main-background);
}

.accordion__button{
  position: relative;
  text-align: left;
  color: var(--dark-slate-gray);
  font-weight: var(--font-weight-medium);
}

.main__accordion{
  margin-top: 3rem;
}

.accordion__button::before {
  content: url("../images/icon-arrow-down.svg");
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  bottom: 0;
  right: 0;
}


.main__image {
  padding: 0 1rem;
  background: url("../images/bg-pattern-mobile.svg") no-repeat;
  background-size:auto;
  background-position: top 3.4rem left 0.5rem;
  width: auto;
  height: 10rem;
  margin-top: -4rem;
}

.main__illustration--mobile {
  margin-top: -3rem;
}

.main__background--desktop {
  display: none;
}

.main__illustration--desktop {
  display: none;
}

h1 {
  text-align: center;
  padding-bottom: 1rem;
  font-weight: var(--font-weight-bold);
}

.accordion__list {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.accordion__button--active {
  border: none;
  background: none;
  padding:1rem 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--gray);
  transition: 0.3s;
}

.accordion__button--active:hover {
  color:var(--soft-red);
  cursor: pointer;
}

.accordion__item {
  list-style: none;
  transition: 0.3s;
  display: inline;
}

.accordion__desc {
  display: none;
  padding:1rem 0;
  transition: 0.8s;
  border-bottom: 1px solid var(--gray);
  color: var(--some-gray-shade);
}

.accordion__desc--last {
  border:none;
}

.accordion__button--bold {
  font-weight:var(--font-weight-bold);
  color: #000;
}

.accordion__button--bold::before {
  transform: rotate(180deg);
}

.accordion__button--bold + .accordion__desc--visible {
  display:block;
}

.accordion__button--bold .accordion__img--active {
  transform: rotate(180deg);
}

@media only screen and (min-width:400px) {
    main {
      width: 20rem;
    }

    .main__image {
      margin-top: -5rem;
      background-position: top 5rem left 1.5rem;
      height: 12rem;
    }

    .main__illustration-mobile {
      margin-top: -5rem;
    }
}

@media only screen and (min-width:960px) {

  body {
    padding:2rem;
  }

  main {
    display:grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: 20% 45%;
    position: relative;
    padding: 0;
    padding-right: inherit;
    min-width: 50rem;
    max-width: 80%;
  }

  .main__accordion {
    padding:0 1rem;
    padding-bottom: 3rem;
    max-height: 20rem;
    scroll-behavior: smooth;
    overflow-y: scroll;
    scrollbar-width:none;
    }

    .accordion__list{
    }

  h1 {
    text-align: left;
  }

  .main__image {
    background: url("../images/bg-pattern-desktop.svg") no-repeat;
    background-size: 50rem 55rem;
    background-position: bottom -9rem right 4rem;
    overflow: hidden;
    width: 25rem;
    height: 28rem;
    bottom: -5rem;
    margin: 0;
    padding: 0;
  }

  .main__background--mobile {
    display: none;
  }

  .main__illustration--mobile {
    display: none;
  }

  .main__image::before {
    content: url("../images/illustration-box-desktop.svg");
    z-index: 3;
    position: absolute;
    color: black;
    top: 32%;
    left: -5.8rem;
  }

  .main__illustration--desktop {
    position: relative;
    display: block;
    height: auto;
    width: 100%;
    left: -4rem;
    top: 3rem;
  }
}
